<section id="showcase">
  <div class="showcase">
    <h2 class="text-center"><strong>Showcase</strong></h2>

    <div class="project-card">
      <p class="project-text">
        <a href="https://www.foundmyfitness.com/">FoundMyFitness</a> is a web platform focused on the science of
        nutrition, genetics, longevity, and cognitive and physical wellbeing. The site features articles, interviews, and
        research findings, empowering users to make informed decisions about their health and wellness.
      </p>
      <img src="/assets/images/projects/fmf.jpg" class="project-img" alt="FoundMyFitness">
    </div>

    <div class="project-card">
      <p class="project-text">
        <a href="https://skedaddle.herokuapp.com/">Skedaddle</a> is a travel itinerary generator. It consumes
        multiple APIs to create a custom itinerary with parks, restaurants, airports, museums and more, and uses
        AI to generate a customized day-by-day recommended schedule for your trip.
      </p>
      <img src="/assets/images/projects/skedaddle.jpg" class="project-img" alt="Skedaddle">
    </div>
  </div>
</section>
