// ABOUT

#about {
  margin-top: 4rem;
}

@media (max-width: 48em) {
  #about {
    display: none;
  }
}

.about-content h2 {
  margin: 0 2rem 4rem 2rem;
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: spacing(md);
}

@media (max-width: 62em) {
  .about-cards {
    grid-template-columns: 1fr;
  }
}

.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
  background-color: $primary-muted;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
  transition: all 0.3s;
  @include hover-lift;
}

.about-card p {
  margin-bottom: 0;
}

.about-card i {
  position: relative;
  font-size: 2.4rem;
  color: rgba(24, 100, 171, 0.5);
}

@media (max-width: 48em) {
  .about-card p {
    text-align: center;
  }
}
