// POSTS

.posts-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: spacing(md);
}

@media (max-width: 48em) {
  .posts-list {
    grid-template-columns: 1fr;
  }
}

.posts-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
  background-color: $primary-muted;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
  transition: all 0.3s;
  @include hover-lift;
}

.posts-top {
  gap: 1.6rem;
  text-align: center;
}

.posts-card p {
  width: 100%;
}

.posts-date {
  color: #444444;
  font-size: 1.2rem;
  text-align: center;
}

.posts-name {
  font-weight: bold;
  color: $primary;
  margin: 1rem 0;
}

.posts-content {
  color: #444444;
  font-size: 1.4rem;
  font-weight: normal;
}
