<section id="about">
  <div class="container">
    <div class="about-content">
      <h2>Turning <strong>ideas</strong> into <strong>reality</strong> with high-quality, scalable web applications.</h2>
      <div class="about-cards">
        <div class="about-card">
          <i class="fa-solid fa-palette"></i>
          <p class="text-center"><strong>Custom Web App Development</strong></p>
          <p>Bespoke fullstack applications tailored to your business needs.</p>
        </div>

        <div class="about-card">
          <i class="fa-solid fa-laptop-code"></i>
          <p class="text-center"><strong>API Integration & Design</strong></p>
          <p>Enhance functionality and connect seamlessly with third-party services.</p>
        </div>

        <div class="about-card">
          <i class="fa-solid fa-database"></i>
          <p class="text-center"><strong>Database Design & Optimization</strong></p>
          <p>Secure, efficient, and high-performing backend data solutions.</p>
        </div>
      </div>
    </div>
  </div>
</section>
