<section id="about">
  <div class="container">
    <div class="about-content">
      <div class="about-cards">
        <div class="about-card">
          <i class="fa-solid fa-palette"></i>
          <p class="text-center"><strong>Customized Web App Design</strong></p>
          <p>Bespoke fullstack applications tailored to your unique business needs.</p>
        </div>

        <div class="about-card">
          <i class="fa-solid fa-laptop-code"></i>
          <p class="text-center"><strong>API Development & Integration</strong></p>
          <p>Enhance functionality and connect seamlessly with third-party services.</p>
        </div>

        <div class="about-card">
          <i class="fa-solid fa-database"></i>
          <p class="text-center"><strong>Database Design & Optimization</strong></p>
          <p>Secure, efficient, and high-performing backend data solutions.</p>
        </div>
      </div>
    </div>
  </div>
</section>
