<section class="hero">
  <div class="header">
    <h1>eli sachs</h1>
    <p>Teacher, traveler, collaborator, runner, 6th grade spelling bee champion, and former Peace Corps volunteer.</p>
    <p>Educator turned fullstack developer with a passion for learning languages and problem solving.</p>
    <div class="header-links">
      {% include social.html %}
      <div class="resume-container">
        <a href="/assets/files/eli-sachs-resume.pdf" target="_blank" class="btn" rel="noreferrer">
          <span>Resume</span>
        </a>
        <div class="social-links resume-download">
          <a href="/assets/files/eli-sachs-resume.pdf" download="eli-sachs-resume.pdf">
            <i class="fas fa-file-download"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
