{%- if site.posts.size > 0 -%}
<div class="banner">
  <ul class="posts-list">
    {%- for post in site.posts -%}
    {% unless post.path contains 'archive/' %}
    <li class="post-card">
      <a href="{{ post.url | relative_url }}">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <div class="post-date">{{ post.date | date: date_format }}</div>
        <div class="post-top">
          <p class="post-name">{{ post.title | escape }}</p>
        </div>
        <p class="post-blurb">{{ post.content | strip_html | truncatewords: 10 }}</p>
      </a>
    </li>
    {% endunless %}
    {%- endfor -%}
  </ul>
</div>
{%- endif -%}
