<section id="projects">
  <div class="container">
    <h2 class="text-center"><strong>Projects</strong></h2>

    <div class="project-grid">
      <div class="project-card">
        <p class="project-text">
          <a href="https://www.foundmyfitness.com/" target="_blank">FoundMyFitness</a> is a web platform focused on
          the science of nutrition, genetics, and cognitive and physical wellbeing. It features articles, interviews
          and research, empowering users to make informed decisions about their health and wellness.
        </p>

        <div class="carousel" id="fmf">
          <img src="/assets/images/projects/fmf/fmf.jpg" alt="FoundMyFitness" class="carousel-image active">
          <img src="/assets/images/projects/fmf/genetics.jpg" alt="Genetics" class="carousel-image">
          <img src="/assets/images/projects/fmf/science.jpg" alt="Science" class="carousel-image">
        </div>
      </div>

      <div class="project-card">
        <p class="project-text">
          <a href="https://skedaddle.herokuapp.com/" target="_blank">Skedaddle</a> is a travel itinerary generator.
          It consumes several APIs to create a custom itinerary with parks, restaurants, airports, museums, maps
          and more, and uses AI to generate a recommended day-by-day play-by-play for your trip.
        </p>

        <div class="carousel" id="skedaddle">
          <img src="/assets/images/projects/ske/skedaddle.jpg" alt="Skedaddle" class="carousel-image active">
          <img src="/assets/images/projects/ske/search.jpg" alt="Search" class="carousel-image">
          <img src="/assets/images/projects/ske/porto.jpg" alt="Porto" class="carousel-image">
        </div>
      </div>

      <div class="project-card">
        <p class="project-text">
          <a href="https://github.com/easachs/momentum" target="_blank">Momentum</a> is a personal assistant that
          helps users build routines and manage their nutrition, fitness, reading, and job search with stats and
          AI-powered insights for personalized guidance and motivation.
        </p>
      
        <div class="carousel" id="mmt">
          <img src="/assets/images/projects/mmt/dash1.jpg" alt="Momentum" class="carousel-image active">
          <img src="/assets/images/projects/mmt/dash2.jpg" alt="Momentum" class="carousel-image">
          <img src="/assets/images/projects/mmt/habits.jpg" alt="Momentum" class="carousel-image">
        </div>
      </div>

      <div class="project-card">
        <p class="project-text">
          <a href="https://www.easachs.com/yearzero" target="_blank">Year Zero</a> is an interactive web experience set
          in a dystopian future. Users navigate government terminals, uncover hidden interactions, and piece together
          lost history through puzzles and fragmented records.
        </p>
      
        <div class="carousel" id="yearzero">
          <img src="/assets/images/projects/yz/yearzero.jpg" alt="Year Zero" class="carousel-image active">
          <img src="/assets/images/projects/yz/collapse.jpg" alt="Collapse" class="carousel-image">
          <img src="/assets/images/projects/yz/classified.jpg" alt="Classified" class="carousel-image">
        </div>
      </div>
    </div>
  </div>
</section>
