@charset "utf-8";

$base-font-family: "Inter", sans-serif;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.9 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 30px !default;

$background-color: #F8F9FA !default;
$brand-color: #415a77 !default;
$brand-color-dark: #1B263B !default;

$grey-color: #444444 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

$table-text-align: left !default;

$content-width: 800px !default;

$on-palm: 600px !default;
$on-laptop: 800px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@import "minima/base",
"minima/layout",
"minima/syntax-highlighting"
;