---
---

@import "minima";

* {
  box-sizing: content-box;
}

body {
  background-image: url('{{ site.baseurl }}/assets/images/core/habitat.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  @include media-query($on-palm) {
    background-image: linear-gradient(to right, #0D1B2A, #778DA9);
  }
}

.navbar {
  --bs-navbar-padding-y: 0;
  --bs-navbar-brand-padding-y: 0;
  background-color: $background-color;

  .gold {
    color: #fca311;
  }
}

.navbar-collapse {
  flex-grow: 0;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;

  &:focus {
    top: 0;
  }
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-query($on-palm) {
    display: block;
  }
}

.resume {
  padding: 10px;
  
  @include media-query($on-palm) {
    padding: 5px;
  }
}

.resume-columns ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type: disc;
  padding-left: 20px;

  @include media-query($on-palm) {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}

.highlight {
  background: 0;
}