@media (max-width: 75em) {
  .container {
    margin: 3.2rem auto;
  }
}

@media (max-width: 62em) {
  h2 {
    font-size: 3.2rem;
  }

  .about-cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 48em) {
  .banner>a {
    width: 100%;
    justify-content: center;
  }

  h2 {
    font-size: 2.4rem;
  }

  h2.text-center {
    font-size: 3.2rem;
  }

  .header {
    margin-top: 1.2rem;
    padding: 2rem 2rem;
    width: 100%;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header>h1 {
    width: 100%;
    text-align: center;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }

  .header>h2 {
    max-width: 48rem;
  }

  .resume-container {
    flex: 1;
  }

  .resume-download {
    display: none;
  }

  .header h1 {
    font-size: 3.2rem;
  }

  .header h2 {
    font-size: 2rem;
    margin-bottom: 1.8rem;
  }

  .header-links {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1.2rem;
  }

  .badge {
    font-size: 1.6rem;
  }

  .container {
    padding: 2rem 3.2rem;
  }

  .posts-list {
    grid-template-columns: 1fr;
  }

  .project-card {
    padding: 2rem;
  }

  .project-card img {
    height: fit-content;
    opacity: 1;
  }

  .project-text {
    font-size: 1.4rem;
  }

  .tag-container {
    justify-content: center;
  }

  footer>.footer-content {
    padding: 3.2rem 4rem;
  }
}

@media (max-height: 32em) {
  .hero {
    height: auto;
    justify-content: flex-start;
  }
}
