:root {
  --light: #f8f8f8;
  --light-muted: rgba(248, 248, 248, 0.8);
  --primary: #405998;
  --primary-muted: rgba(24, 100, 171, 0.15);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--light-muted);
  color: #444444;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  letter-spacing: 0.2px;
}

strong {
  font-weight: bold;
  color: var(--primary);
}

h2 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 4rem;
}

.text-center {
  text-align: center;
}

a:link,
a:visited {
  color: var(--light-muted);
  text-decoration: none;
}

a:hover,
a:active {
  cursor: pointer;
  color: var(--light);
}

.btn,
.btn:link,
.btn:visited {
  display: flex;
  font-size: 1.2rem;
  border: 1px solid var(--light);
  color: var(--light);
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
}

.btn:hover,
.btn:active {
  background-color: #ffffff20;
}

/* HERO */

.hero {
  padding: 4rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: linear-gradient(rgb(64, 89, 152, 0.6), rgb(64, 89, 152, 0.6)),
    url('/assets/images/core/habitat.jpg');

  background-position: top;
  object-fit: cover;
  background-size: cover;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;
}

.header {
  display: flex;
  flex-direction: column;
  max-width: 64rem;
  color: #f8f8f8;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 4rem 6rem;
  backdrop-filter: blur(5px);
  border-radius: 0.5rem;
}

.hero h1 {
  font-size: 6rem;
  margin-bottom: 2rem;
  font-weight: bolder;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0.6px;
  color: var(--light-muted);
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f8f8f8;
}

.social-links {
  display: flex;
  gap: 0.4rem;
  list-style: none;
  gap: 1rem;
}

.social-links i {
  font-size: 2.4rem;
}

.social-links a:link,
.social-links a:visited {
  display: inline-block;
  position: relative;
  top: 0;
  transition: all 0.3s;
}

.social-links a:hover,
.social-links a:active {
  top: -0.2rem;
}

.resume-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.resume-container i {
  font-size: 1.8rem;
  opacity: 0.8;
}

/* ABOUT */

.about {
  padding: 4rem;
  margin: 3.2rem auto;
  max-width: 96rem;
}

.about-content h2 {
  margin-bottom: 4rem;
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
  background-color: var(--primary-muted);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
  transition: all 0.3s;
}

.about-card p {
  margin-bottom: 0;
}

.about-card i {
  position: relative;
  font-size: 2.4rem;
  color: var(--primary-muted);
}

.about-card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
  transform: translateY(-2px);
}

/* BANNER */

.banner {
  width: 100%;
  background-color: rgb(64, 89, 152, 0.6);
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: center;

  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.25),
    inset 0px -5px 15px rgba(0, 0, 0, 0.25);
}

/* SKILLS */

.skills {
  padding: 4rem;
  margin: 0 auto;
  margin: 4rem auto 0;
  max-width: 96rem;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 4rem;
}

.badge {
  display: inline-block;
  font-size: 1.8rem;
  align-items: center;
  background-color: var(--primary-muted);
  padding: 0.8rem 1.6rem;
  border-radius: 99px;
  transition: all 0.3s;
}

.badge:hover {
  background-color: rgba(24, 100, 171, 0.3);
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
}

/* SHOWCASE */

.showcase {
  padding: 0 4rem 4rem 4rem;
  margin: 0 auto 4rem auto;
  max-width: 96rem;
}

.showcase a {
  color: var(--primary);
  font-weight: bold;
}

.project-card {
  background-color: var(--primary-muted);
  border-radius: 0.5rem;
  padding: 4rem;
  margin-bottom: 6rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
}

.project-card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
}

.project-card:last-child {
  margin-bottom: 0;
}

.project-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 0.5rem;
}

.project-text {
  margin: 0 0 2rem 0;
  text-align: center;
  font-size: 1.8rem;
  color: #444444;
}

/* FOOTER */

footer {
  background-color: var(--primary);
  background: linear-gradient(rgb(64, 89, 152, 0.6), rgb(64, 89, 152, 1));
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--light-muted);
  font-size: 1.6rem;

  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.25),
    inset 0px -5px 15px rgba(0, 0, 0, 0.25);
}

footer>.footer-content {
  padding: 4rem 6.4rem;
  justify-items: center;
}

footer .social-links {
  margin-bottom: 1.2rem;
}

footer p {
  margin: 0;
  letter-spacing: 0.8px;
}
