---
---

@import "minima";

body {
  background-image: url('{{ site.baseurl }}/assets/north.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  z-index: -1;
}