%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  font-family: $base-font-family;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $light-muted;
  color: $grey-color;
  font-family: $base-font-family;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0.2px;
}

strong {
  font-weight: bold;
  color: $primary;
}

h2 {
  font-size: 4rem;
  font-weight: $base-font-weight;
  line-height: 1.4;
  margin-bottom: 4rem;
}

@media (max-width: 48em) {
  h2 {
    font-size: 2.4rem;
  }

  h2.text-center {
    font-size: 3.2rem;
  }
}

@media (max-width: 62em) {
  h2 {
    font-size: 3.2rem;
  }
}

a:link,
a:visited {
  color: $primary-dark;
  text-decoration: none;
}

a:hover,
a:active {
  cursor: pointer;
  color: $light;
}

footer {
  background-color: $primary;
  background: linear-gradient(rgba(64, 89, 152, 0.6), rgba(64, 89, 152, 1));
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $light-muted;
  font-size: 1.6rem;

  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.25),
    inset 0px -5px 15px rgba(0, 0, 0, 0.25);
}

footer .footer-content {
  padding: 4rem 6.4rem;
  justify-items: center;
}

@media (max-width: 48em) {
  footer>.footer-content {
    padding: 3.2rem 4rem;
  }
}

footer .social-links {
  margin-bottom: 1.2rem;
}

footer p {
  margin: 0;
  letter-spacing: 0.8px;
}

ul {
  list-style: none;
}
